*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #343132;
    line-height: 1.5;
    font-weight: 400;
    background-image: url("../img/anh31.jpg");
    background-size: cover;
}
#page{
    width: 1200px;
    margin: 100px auto ;
    border-radius: 5px;
}
#top{
    float:left;
    width: 100%;
    background-color: #bac3cc;
    padding: 50px 0 40px;
    text-align: center;
}
#top h1{
    font-size: 50px;
    text-transform: uppercase;
}
#top h3{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}
#bottom{
    float: left;
    width: 100%;
    background-color: #ffffff;
}
#left{
    width: 280px;
    float: left;
    margin-left: 40px;
    padding: 35px;
    background-color: #e7e7e7;
    margin-top: -160px;
}
#left #avatar{
    border-radius: 100%;
    width: 220px;
    height: 220px;
    overflow: hidden;
}
#avatar img{
    width: 100%;
    height: auto;
}
#left h3,#right h3{
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 20px;
}
#left p{
    font-size: 18px;
    margin: 8px 0;
}
#left hr,#right hr{
    border: 1px solid #a1a1a1;
    margin-top: 25px;
}
#left a{
    text-decoration: none;
    color:#343132;
}
#left p i{
    font-size: 20px;
    margin-right: 10px;
}
#right{
    width: calc(100% - 320px);
    float: right;
    padding: 30px;
}