div{
    float: left;
    padding: 30px;
    box-sizing: border-box;
    height: max-content;
    background-color: #e2e2e2;
}
img{
    max-width:100%;
    max-height:100%;
    min-width: 50px;
    border-radius: 100%;
}
body{
    background-image: url("../img/anh31.jpg");
    background-size: cover;
}
img{
    max-width: 100%;
    max-height: 100%;
    min-width: 50px;
}
div > div{
    border: 1px solid gainsboro;
    float:left;
    width: 100%;
    box-sizing: border-box;
    height: 800px;
    background-color: #bababa;
    max-height: 100%;
}
